body{
    background: linear-gradient(100deg, #0700B8 0%, #00FF88 100%);
    color:black;
    margin:none;
    display:grid;
    grid-template-rows: 600px;
    grid-template-columns: 2fr 1fr ;
    font-family:'roboto';
}
